/* reset CSS  */
body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}
h1,
h2 {
  margin: 0;
  padding: 0;
  font: inherit;
}
img {
  vertical-align: top;
}
a {
  color: inherit;
  text-decoration: none;
}
input,
button {
  font: inherit;
}

button:enabled {
  cursor: pointer;
}

ul,
li {
  padding: 0;
  margin: 0;

  list-style: none;
}

dl {
  margin: 0;
}
p {
  margin: 0;
}

button {
  font: inherit;
  border: none;
  background-color: inherit;
  padding: 0;
}

/* CSS */

body {
  background-color: #eae8fe;
}

h1 {
  text-align: center;
}
h1 img {
  max-width: 50%;
}

/* 메인 */
.main {
  display: grid;

  gap: 20px 28px;

  width: 748px;
}
section {
  background-color: #fff;
}
.menu {
  grid-area: menu;
  padding: 30px 27px;
}

.cola-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 12px;

  margin-bottom: 20px;
}
.btn-cola {
  width: 100%;
  border-radius: 10px;
  padding: 11px 12px 9px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}
.btn-cola img,
.cola-name,
.cola-price {
  display: block;
}
.btn-cola img {
  width: 36px;
  margin: 0 auto;
}
.btn-cola.on {
  box-shadow: 0 0 0 4px #6327fe;
}

.cola-name {
  font-size: 9px;
  margin: 6px 0;
}

.cola-price {
  padding: 5px 0;
  border-radius: 30px;
  color: #fff;
  font-size: 12px;
  background: #6327fe;
}

.btn-cola:disabled {
  position: relative;

  color: inherit;

  overflow: hidden;
}
.btn-cola:disabled::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
}
.soldout {
  width: 45px;
  border: 4px double #eee8fe;

  color: #eae8fe;
  font-size: 14px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-17.965deg);

  z-index: 10;
}
@media (min-width: 748px) {
  .main {
    grid-template-areas:
      "menu mine"
      "menu sale";
    grid-template-columns: repeat(2, 1fr);
    margin: 67px auto;
  }
}
@media (max-width: 768px) {
  .main {
    grid-template-areas:
      "menu"
      "mine"
      "sale";
    max-width: 360px;
    /* min-width: 100%; */
    grid-template-columns: 100%;
    margin: 18px auto;
    gap: 0;
  }
  #input-number::placeholder {
    text-align: right;
    padding-right: 10px;
  }
}
.sale {
  grid-area: sale;
}

.money-grid {
  display: grid;
  grid-template-columns: 2fr 94px;
  gap: 12px;
  margin-bottom: 11px;
}

.money-area {
  background-color: #eae8fe;
  padding: 6px 10px 7px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}
#input-number {
  border-radius: 5px;
  background: #fff;
  font-size: 13px;
  font-weight: 500;
  padding: 6px 0 8px 6px;
  border: 1px solid #bdbdbd;
}
#input-number::placeholder {
  color: #bdbdbd;
}

.get-box {
  height: 106px;
}

.get-list {
  padding: 12px 18px 0 12px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;

  background: #eae8fe;
  font-size: 9px;
}

.get-list li ~ li {
  margin-top: 6px;
}

.get-item {
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  background-color: #fff;
  padding: 6px 8px 7px 10px;
  display: flex;
  align-items: center;
}

.get-item img {
  width: 18px;
  margin-right: 10px;
}

.get-item strong {
  background: #fff;
  padding: 4px 11px 6px;
  border-radius: 5px;
  border: 1px solid #bdbdbd;

  font-size: 14px;
  margin-left: auto;
}

.btn-money-area {
  border-radius: 5px;

  font-size: 13px;

  background-color: white;

  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}

.btn-get {
  color: white;
  background: #6327fe;
  font-weight: 700;
}

.mine {
  grid-area: mine;
  padding: 9px 27px;
}
.mine .money-area dd {
  font-weight: 700;
}
.get {
  padding: 24px 27px;
}
.get div {
  text-align: center;
  margin-bottom: 13px;
  font-weight: 700;
}
.get p {
  font-size: 12px;
  text-align: right;
}
.get-list.total {
  height: 364px;
  margin-bottom: 6px;
}
