/* reset CSS  */
body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}
h1,
h2 {
  margin: 0;
  padding: 0;
  font: inherit;
}
img {
  vertical-align: top;
}
a {
  color: inherit;
  text-decoration: none;
}
input,
button {
  font: inherit;
}

button:enabled {
  cursor: pointer;
}

ul,
li {
  padding: 0;
  margin: 0;

  list-style: none;
}

p {
  margin: 0;
}

button {
  font: inherit;
  border: none;
  background-color: inherit;
  padding: 0;
}

/* CSS */

body {
  background-color: #eae8fe;
}

h1 {
  text-align: center;
}
h1 img {
  max-width: 50%;
  /* 이거 공부해 */
  /* max-width: calc(100% - 96px * 2); */
}

/* 메인 */
.main {
  display: grid;

  gap: 20px 28px;

  width: 748px;
  max-width: 100%;
}
section {
  background-color: #fff;
}
.menu {
  grid-area: menu;
  padding: 30px 27px;
}

.cola-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* justify-content: center;
  align-items: center; */
  gap: 12px;

  /* margin-bottom: 20px; */
}
.btn-cola {
  border-radius: 10px;
  padding: 11px 12px 9px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}
.btn-cola img,
.cola-name,
.cola-price {
  display: block;
}
.btn-cola img {
  width: 36px;
  margin: 0 auto;
}
.btn-cola.on {
  box-shadow: 0 0 0 4px #6327fe;
}

.cola-name {
  font-size: 9px;
  margin-bottom: 7px;
}

.cola-price {
  padding: 5px 16px;
  border-radius: 50px;
  color: #fff;
  font-size: 12px;
  background: #6327fe;
}
/* 이거 질문!!!!!!!! */
.btn-cola:disabled {
  position: relative;

  color: inherit;

  overflow: hidden;
}
.btn-cola:disabled::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
}
.soldout {
  width: 45px;
  border: 4px double #eee8fe;

  color: #eae8fe;
  font-size: 14px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-17.965deg);

  z-index: 10px;
}
@media (min-width: 748px) {
  .main {
    grid-template-areas:
      "menu sale"
      "menu mine";
    grid-template-columns: repeat(2, 1fr);
    margin: 67px auto;
  }
}
@media (max-width: 768px) {
  .main {
    grid-template-areas:
      "menu"
      "sale"
      "mine";
    grid-template-columns: 100%;
    margin: 18px auto;
  }
}

.sale {
}

.bg-box {
}

.sale {
  grid-area: sale;
}

.mine {
  grid-area: mine;
}
