/* reset CSS  */
body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}
h1,
h2 {
  margin: 0;
  padding: 0;
  font: inherit;
}
img {
  vertical-align: top;
}
a {
  color: inherit;
  text-decoration: none;
}
input,
button {
  font: inherit;
}

button:enabled {
  cursor: pointer;
}

ul,
li {
  padding: 0;
  margin: 0;

  list-style: none;
}

dl,
dd {
  margin: 0;
}
dd {
  display: inline-block;
}
p {
  margin: 0;
}

button {
  font: inherit;
  border: none;
  background-color: inherit;
  padding: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* CSS */
body {
  background-color: #eae8fe;
}

h1 {
  text-align: center;
}
h1 img {
  max-width: 50%;
}

.hidden {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0); /* IE 6,7 */
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* 메인 */
.main {
  display: grid;

  gap: 20px 28px;

  width: 748px;
}

section {
  background-color: #fff;
}

/* 메뉴 (콜라 리스트, 장바구니) */
.menu {
  grid-area: menu;
  padding: 30px 27px;
}

.cola-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 12px;

  margin-bottom: 20px;
}
/* cola-list 버튼 */
.btn-cola {
  width: 100%;
  padding: 11px 12px 9px;

  border-radius: 10px;

  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}
.btn-cola img,
.cola-name,
.cola-price {
  display: block;
}
.btn-cola img {
  width: 36px;
  margin: 0 auto;
}
.btn-cola.on {
  box-shadow: 0 0 0 4px #6327fe;
}
.cola-name {
  margin: 6px 0;

  font-size: 9px;
}
.cola-price {
  padding: 5px 0;
  border-radius: 30px;

  color: #fff;
  font-size: 12px;

  background: #6327fe;
}

/* 콜라 품절 */
.btn-cola:disabled {
  position: relative;

  color: inherit;

  overflow: hidden;
}
.btn-cola:disabled::after {
  content: "";

  display: block;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.8);

  position: absolute;
  top: 0;
  left: 0;
}
.soldout {
  width: 45px;
  border: 4px double #eee8fe;

  color: #eae8fe;
  font-size: 14px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-17.965deg);

  z-index: 10;
}

/* 인풋 + 버튼 그리드 */
.money-grid {
  display: grid;
  grid-template-columns: 2fr 94px;
  gap: 12px;

  margin-bottom: 11px;
}
#input-number {
  padding: 6px 10px 8px 6px;

  border: 1px solid #bdbdbd;
  border-radius: 5px;

  font-size: 13px;
  font-weight: 500;

  background: #fff;
}
#input-number::placeholder {
  color: #bdbdbd;
}
.money-area {
  display: flex;
  justify-content: space-between;

  width: 100%;

  padding: 6px 10px 7px;

  border-radius: 5px;

  background-color: #eae8fe;
}
.btn-money-area {
  border-radius: 5px;

  font-size: 13px;

  background-color: white;

  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}

/* 장바구니 */
.get-box {
  height: 106px;
}
.get-list {
  padding: 12px 6px 0 12px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;

  font-size: 9px;

  background: #eae8fe;

  overflow-y: scroll;
}

/* 스크롤바 */
.get-list::-webkit-scrollbar {
  width: 12px;
}
.get-list::-webkit-scrollbar-thumb {
  height: 90px;

  border: solid #eae8fe;
  border-width: 9px 4px 9px;
  border-radius: 50px;

  background-color: #fff;
}
.get-list::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

/* 장바구니 아이템 */
.get-list li ~ li {
  margin-top: 6px;
}
.get-item {
  display: flex;
  align-items: center;

  padding: 6px 8px 7px 10px;

  border: 1px solid #bdbdbd;
  border-radius: 5px;

  background-color: #fff;
}
.get-item img {
  width: 18px;

  margin-right: 10px;
}
.get-item strong {
  padding: 4px 11px 6px;
  margin-left: auto;

  border: 1px solid #bdbdbd;
  border-radius: 5px;

  font-size: 14px;

  background: #fff;
}
/* 획득 버튼 */
.btn-get {
  color: white;
  font-weight: 700;

  background: #6327fe;
}

/* 소지금 */
.mine {
  grid-area: mine;

  display: flex;
  align-items: center;

  padding: 9px 27px;
}
.mine .money-area div {
  font-weight: 700;
}

/* 획득한 음료 */
.get {
  grid-area: get;

  padding: 24px 27px;
}
.get h2 {
  margin-bottom: 13px;

  font-weight: 700;
  text-align: center;
}
.get-list.total {
  height: 364px;
  margin-bottom: 6px;
}
.get .totalPrice {
  display: flex;
  justify-content: end;
  gap: 5px;

  font-size: 12px;
}

@media (min-width: 748px) {
  .main {
    grid-template-areas:
      "menu mine"
      "menu get";

    grid-template-columns: repeat(2, 1fr);
    margin: 67px auto;
  }
}
@media (max-width: 768px) {
  .main {
    grid-template-areas:
      "menu"
      "mine"
      "get";
    max-width: 360px;
    grid-template-columns: 100%;
    margin: 18px auto;
    gap: 0;
  }

  #input-number {
    text-align: right;
  }
}
